body {
  margin: 0;
  background-color: #F5F3EE;
  width: 1200px;
  height:700px;
  font-family: 'Open Sans', sans-serif;
}

.headerBar {
  background-color: #7D1935;
  color: #FFFFFF;
  height: 80px;
  position: fixed;
  width: inherit;
  z-index: 1;
}

h1 {
  display: inline-block;
  padding-left: 10px;
  font-size: 48px;
  margin-top: 10px;
}

.linkIcons {
  float: right;
  height: 68px;
  padding-top: 6px;
  padding-right: 10px;
  padding-left: 10px;
}

.leftSide {
  display: inline-block;
  height: 720px;
  width: 290px;
  padding: 5px;
  padding-top: 15px;
  position: fixed;
  top: 80px;
  z-index: 1;
  text-align: center;
  background-color: #4A96AD
}

.myPic {
  height: 300px;
  width: auto;
}

.aboutMe {

}

.myDescription {

}

.rightSide {
  display: inline-block;
  width: 895px;
  top: 80px;
  left: 300px;
  position: relative;
}

.projectPic {
  height: 150px;
}

.languageBar {
  background-color: #4A96AD
}

.picBox {
  display:inline-block;
}

.languagePic {
  height: 100px;
}
