body {
  margin: 0 auto;
  position: relative;
  width: 1200px;
  height:700px;
  font-family: 'Open Sans', sans-serif;
  background-attachment:fixed;
  background-size: cover;
}

.headerBar {
  background-color: #7D1935;
  color: #FFFFFF;
  height: 80px;
  position: fixed;
  width: inherit;
  z-index: 1;
}

h1 {
  display: inline-block;
  padding-left: 10px;
  font-size: 48px;
  margin-top: 10px;
}

.linkIcons {
  float: right;
  height: 68px;
  padding-top: 6px;
  padding-right: 10px;
  padding-left: 10px;
}

.leftSide {
  display: inline-block;
  height: 720px;
  width: 290px;
  padding: 5px;
  padding-top: 15px;
  position: fixed;
  top: 80px;
  z-index: 1;
  text-align: center;
  background-color: rgba(74,150,173,0.9)
}

.myPic {
  height: 300px;
  width: auto;
  border-radius: 10px;
}

.aboutMe {

}

.myDescription {

}

.rightSide {
  display: inline-block;
  width: 900px;
  top: 80px;
  left: 300px;
  position: relative;
  text-align: center;
  background-color: rgba(245,243,238,0.8);
  overflow-y: auto;
}

.rightHeader {
  text-align: center;
  font-size: 36px;
}

.projectBar {

}

.projectPic {
  height: 250px;
}

.projectName {

}

.projectDescription {
  width: 70%;
  margin: 0 auto;
}

.languageBar {
  width: 895px;
  display: inline-block;
  position: relative;
  top:100px;
  background-color: rgba(0,0,0,0.6);
}

.picBox {
  display:inline-block;
  height:150px;
  width: 175px;
  text-align: center;
}

.languagePic {
  height: 100px;
}

.educationBar {
  padding-bottom: 50px;
  position:relative;
  padding-top: 100px;
}

.schoolDetail {
  width: 70%;
  margin: 0 auto;
}
