.headerBar {
  background-color: blue;
  color: white;
}

h1 {
  display: inline-block;
}

.linkIcons {
  float:right
}

.myPic {
  height: 300px;
  width: auto;
}

.projectPic {
  height: 200px;
}

.languagePic {
  height: 100px;
}
